<!DOCTYPE html>
<html lang="pt"xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Conserveira | Iniciar sessão</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./css/stylelogin.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
  <form class="login" action="/logger" method="post">
    <p class="title">Log in</p>
    <input type="email" id="email" name="email" placeholder="Email" autofocus/>
    <i class="fa fa-user"></i>
    <input type="password" id="password" name="password" placeholder="Palavra-passe" />
    <i class="fa fa-key"></i>
    <a href="#">Esqueceu-se da palavra-passe?</a>

    <div th:if="${erro} != null" th:text="${erro}" class="alert alert-danger" role="alert">
    </div>

    <button>
      <i class="spinner"></i>
      <span class="state">Log in</span>
    </button>
  </form>
  </p>
</div>
<!-- partial -->

</body>
</html>
